*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
app/src/main/AndroidManifest.xml
app/src/main/res/layout/activity_main.xml
.idea/vcs.xml
